*{
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

li{
    list-style: none;
    cursor: pointer;
}

.OnclickEffect{
    border-bottom: 2px solid rgb(105, 16, 16);
}


.navbar {
    position: fixed;
    background-color: rgb(255, 255, 97);
}
ul{
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 10px;
}
.content{
    max-width: 100vw;
    height: 97vh;
}
.compCont{
    max-width: 100vw;
    max-height: 100vh;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
}

.myBurger{
    cursor: pointer;
    display: none;
    position: relative;
}

/*  Music Player */

.intro{
  font-size: 90px;
  height: 50vh;
  /* text-align: center; */
  display: flex;
  align-items: center;
  justify-content: center;
}


/*  ToDolist */

.todolist{
    height: 100vh;
    width: 100vw;
    overflow: hidden;
}
.formCont{
    height: 30vh;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgba(117, 145, 117, 0.281);
}
.Work{
    width: 80%;
    background-color: rgba(155, 150, 150, 0.281);
}


@media only screen and (max-width : 800px){

    .myBurger{
        display: block;
    }
    .navlinks{
        display: none;
    }

} 


/*  Home .js */

.Home {
   max-height: 45vh;
   /* padding: 1rem; */
   /* background-color: ; */
   margin-top: 12px;
   padding: 2rem 0px;
}

.card{
    background-color: rgb(22, 37, 32);
    color: white;
    height: 30vh;
    width: 10vw;
    padding: 0.5rem;
    margin: 0px 1rem;
    transition:  all 0.2s ease-in-out;
    position: relative;
    cursor: pointer;
}
.card:hover{
    transition:  all 0.2s ease-in-out;
    transform: scale(1.3);
    z-index: 99;
}
