*{
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
}

li{
    list-style: none;
    cursor: pointer;
}

.nav{
    background-color: rgb(93, 93, 139);
}
ul{
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 10px;
}