*{
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

li{
    list-style: none;
    cursor: pointer;
}

.OnclickEffect{
    border-bottom: 2px solid rgb(105, 16, 16);
}


.navbar {
    position: fixed;
    background-color: rgb(255, 255, 97);
}
ul{
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 10px;
}
.content{
    max-width: 100vw;
    height: 97vh;
}
.compCont{
    max-width: 100vw;
    max-height: 100vh;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
}

.myBurger{
    cursor: pointer;
    display: none;
    position: relative;
}

/*  Music Player */

.introMusicPlayer{
  height: 50vh;
  display: flex;
  align-items: center;
  justify-content: center;

}
.headingMusicPlayer{
      color: rgba(255, 255, 255, 0.3);  
      font-size: 290px;
      user-select: none;
      -webkit-user-select: none;
      -moz-user-select: none;
}

.SongCards{
   max-height: 50vh;
   position: absolute;
   max-width: 100vw;
}


/* songCArds.js */

.songCardCont{
    max-width: 95vw;
}
.songCards{
    width: 95vw;
    position: absolute;
    display: flex;
    align-items: center;
    overflow: scroll;
}
.songCards a{
    text-decoration: none;
    color: #fff;
}
.songCards::-webkit-scrollbar{
     display: none;
}
.songCards img{
    width: 250px;
}
/* .songCards::hover{
    
} */
.songCards div{
    margin: 0px 10px;
}
.ScrollBtn{
    /* width: 50vw; */
    z-index: 9999;
    border : none;
}

/*  ToDolist */

.todolist{
    height: 100vh;
    width: 100vw;
    overflow: hidden;
}
.formCont{
    height: 30vh;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgba(117, 145, 117, 0.281);
}
.Work{
    width: 80%;
    background-color: rgba(155, 150, 150, 0.281);
}
.myWork{
    width: 80%;
    background-color: rgba(185, 172, 172, 0.781);
    color: rgb(0, 0, 0);
    display: flex;
    align-items: center;
    justify-content: center;

}

@media only screen and (max-width : 800px){

    .myBurger{
        display: block;
    }
    .navlinks{
        display: none;
    }

} 


/*  Home .js */

.Home {
   max-height: 45vh;
   /* padding: 1rem; */
   /* background-color: ; */
   margin-top: 12px;
   padding: 2rem 0px;
}

.card{
    background-color: rgb(22, 37, 32);
    color: white;
    height: 30vh;
    width: 10vw;
    padding: 0.5rem;
    margin: 0px 1rem;
    transition:  all 0.2s ease-in-out;
    position: relative;
    cursor: pointer;
}
.card:hover{
    transition:  all 0.2s ease-in-out;
    transform: scale(1.3);
    z-index: 99;
}


/*  responsive site */
.response{
    height: auto;
    max-width: 100vw;
    color: #fff;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow-x: hidden ;
}
.btnCont{
    font-size: 45px;
}

.categories{
   height: 35vh;
   width: 100vw;

}
.myHead{
    font-size: 200px;
    letter-spacing: 1rem;
    /* opacity: 20; */
    -webkit-user-select: none; /* Safari */
  -ms-user-select: none; /* IE 10 and IE 11 */
  user-select: none; /* Standard syntax */
}
.compBtn{
    background: linear-gradient(to left , rgba(255, 255, 255, 0.1), rgba(255, 255, 255, 0.125));
    backdrop-filter: blur(0.5rem);
    height: 150px;
    width: 150px;
    margin: 0px 1rem ;
    transition:all 0.4s ease-in-out; 
    font-size: 80px;
    border-radius: 5px;
    color: grey;
}
.compBtn:hover{
    transform: scale(1.1);
    transition:all 0.4s ease-in-out;
    color: aqua;
}
.FetchContent{
   width: 100vw;
   height: auto;
}
/* .FetchContent div{
    min-height: 100vh;
    padding: 1rem 1rem;
    display: flex;
    align-items: center;
    justify-content: center;

} */
